* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px: 16 = 62.5%
}

@media screen and (max-width: 570px) {
    html {
        font-size: 52%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 48%;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 42%;
    }
}

body {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-font-grey;
    background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $lato;
    text-transform: uppercase;
}

h1 {
    font-size: 5.7rem;
}

h2 {
    font-size: 4.7rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.7rem;
}

h5 {
    font-size: 2.1rem;
}

h6 {
    font-size: 1.6rem;
}

p,
span {
    font-family: $roboto;
    font-size: 1.6rem;
    font-weight: 300;
}

a {
    color: $color-white;
    &:hover {
        color: $color-white;
        text-decoration: none;
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}