.button {
    //border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: $lato;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all .5s;
    &-bg {
        background-image: url(../img/scheadule-btn.png), linear-gradient(to right, $color-blue-light, $color-blue-dark);
        background-position: right;
        background-repeat: no-repeat;
        border: transparent;
        color: $color-white;
        height: 5rem;
        font-size: 1.8rem;
        font-family: $lato;
        font-weight: 800;
        @media screen and (max-width: 575.98px) {
            font-size: 1.4rem;
        }
        &:hover {
            color: $color-white;
        }
    }
    &-medium {
        padding: 1.3rem 2.2rem;
    }
    &-big {
        padding: 2rem 3rem;
    }
    &:hover {
        list-style-type: none;
        text-decoration: none;
        color: $color-white;
        transform: translateY(-3px);
    }
    &:focus {
        outline: none;
    }
    &_width {
        &-20 {
            width: 20rem;
        }
        &-21 {
            width: 21rem;
        }
        &-22 {
            width: 22rem;
        }
    }
    &_blue {
        background-image: linear-gradient(to right, $color-blue-light 40%, $color-blue-dark 100%);
        color: $color-white;
        &:hover {
            color: $color-white;
        }
    }
    &_transparent {
        border: 1px solid $color-white;
        background-color: transparent;
        color: $color-white;
        margin: 0 auto;
        &:hover {
            color: $color-white;
        }
    }
}

.heading {
    p {
        font-family: $lato;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    h4 {
        font-weight: 800;
    }
    img {
        padding-top: 1rem;
    }
}

.fa {
    &-phone {
        color: $color-white;
    }
}

.form {
    &-control {
        font-family: inherit;
        height: 5rem;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: $color-regular !important;
        background-color: $color-white;
        border: 1px solid $color-silver;
        border-width: 3px;
        margin-top: 1rem;
        resize: vertical;
        margin-bottom: 4rem;
    }
    &-row {
        label {
            width: 100%;
        }
    }
}

.owl-item {
    &:first-of-type {
        margin-left: 9%;
        @media screen and (max-width: 479.98px) {
            margin-left: 2%;
        }
    }
}