.header {
    font-family: $lato;
    background-color: $color-purple;
    height: 13.5rem;
    position: relative;
    &-top {
        height: 5rem;
        border-bottom: 1px solid $color-silver;
        width: 90%;
        margin-left: 7%;
        &-left {
            color: $color-white;
        }
    }
    &-info {
        margin-right: 3rem;
        font-family: $lato;
        font-weight: 300;
        font-size: 1.4rem;
        @media screen and (max-width: 385.98px) {
            font-size: 1rem;
        }
        img {
            padding-right: 1rem;
        }
    }
    &-tel {
        font-family: $lato;
        font-weight: 600;
        font-size: 1.4rem;
        @media screen and (max-width: 385.98px) {
            font-size: 1rem;
        }
        img {
            padding-right: 1rem;
        }
    }
    &-cover {
        background-image: url(../img/header-bg.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 74vh;
        img {
            width: 100%;
            height: auto;
        }
        @media screen and (max-width:992px) {
            min-height: 40rem;
        }
        &-text {
            h1,
            h2 {
                font-weight: 800;
                line-height: 1;
            }
            h1 {
                animation: moveInLeft .8s ease-out .75s;
                animation-fill-mode: backwards;
            }
            h2 {
                animation: moveInRight .8s ease-out .75s;
                animation-fill-mode: backwards;
            }
            p {
                animation: moveInBottom .8s ease-out .75s;
                animation-fill-mode: backwards;
                font-size: 1.793rem;
                font-weight: 400;
                color: $color-client-text;
            }
            a {
                animation: moveInBottom .8s ease-out .75s;
                animation-fill-mode: backwards;
            }
            @media screen and (max-width: 575.98px) {
                text-align: center;
                a {
                    margin: auto;
                    padding: 2rem 1rem;
                }
            }
        }
    }
}