$color-purple: #3737d5;
$color-purple-light: #5353db;
$color-blue-light: #21edda;
$color-blue-dark: #00cdf4;
$color-white: #ffffff;
$color-silver: #e5f0fb;
$color-font-grey:#404d5f;
$color-blue-text: #769ec5;
$color-silver-font: #989898;
$color-client-title: #5d5d5d;
$color-client-text: #657188;
$color-regular:#979ead;
$color-star:#ffc002;
//font
$lato: 'Lato',
sans-serif;
$roboto: 'Roboto Slab',
serif;
$karla: 'Karla',
sans-serif;